<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h3>{{title}}</h3>
    <form class="form-inline" role="form" disabled>
      <div class="form-group">
        <label for="supplierList">Fornecedor: </label>
        <select class="form-control" name="supplierList" id="supplierList" ng-options="option.name for option in Supplier.suppliersList track by option.id"
        ng-model="data.supplier" required></select>
      </div>
      <div class="form-group">
        <label for="orderNumber">Nº Nota: </label>
        <input type="text" class="form-control" id="orderNumber" ng-model="data.orderNumber" required="">
      </div>
      <button type="submit" class="btn btn-default" ng-click="setSupplier()" id="btnConfirmSupplier">Confirmar</button>
      <button type="button" class="btn btn-default" ng-click="cancelSupplier()" id="btnCancelSupplier" disabled>Canelar</button>
    </form>
    <hr>
    <form class="form-inline" role="form" ng-show="showProducts">
      <div class="form-group">
        <label for="orderNumber">Nº Nota: </label>
        <input type="text" class="form-control" id="OrderNumber" ng-model="Product.product.order">
      </div>
      <button type="button" class="btn btn-default" ng-click="">Confirmar</button>
      <table id="productsList" class="table table-striped table-bordered"></table>
    </form>
  </div>  
</div>
